.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.tmp
*.aux
*.log
*.out
*.tex
tmp*/
gks.svg
*.svg
*.png
/*/*/jl_*/
/Manifest.toml

.vscode
.vscode/*

# We're going to store these in a separate repository now
html/
script/
pdf/
notebook/
markdown/

.vscode