<!-- CONTENT ENDS HERE -->
        </div> <!-- end of id=main -->
    </div> <!-- end of id=layout -->
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        var $this = '';
        $('#menu ul >li >a').click(function () {
            if($(this).closest('li').find('ul').is(':visible')){
                $('#menu ul ul').slideUp();
            } else {
                $('#menu ul ul').slideUp();
                $(this).closest('li').find('ul').slideToggle();
            }
        });
    })
</script>
  </body>
</html>
