name: Weekly Update

on:
  schedule:
    - cron: 0 6 * * 6
  workflow_dispatch:

jobs:
  update_weekly:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: update step
        uses: julia-actions/setup-julia@v2
        with:
          version: 1.6.0
      - name: Check for updates and create a PR
        run: |
              git config --local user.email "$(git log --format='%ae' HEAD^!)"
              git config --local user.name "$(git log --format='%an' HEAD^!)"

              julia -e 'include(".github/workflows/update.jl")' ${{ secrets.GITHUB_TOKEN }}
